# Feishu custom app credentials (https://open.feishu.cn/app)
FEISHU_APP_ID=
FEISHU_APP_SECRET=

# Wiki node token (from feishu.cn/wiki/... URL)
FEISHU_WIKI_TOKEN=

# Bitable data table id (from bitable URL)
FEISHU_TABLE_ID=

# Wiki get_node obj_type; default wiki
# FEISHU_OBJ_TYPE=wiki
